<!-- core/templates/registration/password_reset_confirm.html -->
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Definir Nova Senha</title>
</head>
<body>
    <h1>Definir Nova Senha</h1>
    {% if validlink %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Definir nova senha</button>
        </form>
    {% else %}
        <p>O link de redefinição de senha é inválido, possivelmente porque já foi usado. Por favor, solicite uma nova redefinição de senha.</p>
    {% endif %}
    <p><a href="{% url 'login' %}">Voltar para o Login</a></p>
</body>
</html>