<!-- core/templates/registration/password_reset_form.html -->
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Primeiro Acesso / Redefinir Senha</title>
</head>
<body>
    <h1>Primeiro Acesso / Redefinir Senha</h1>
    <p>Insira seu endereço de e-mail para receber um link para definir sua senha.</p>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Enviar link de redefinição</button>
    </form>
    <p><a href="{% url 'login' %}">Voltar para o Login</a></p>
</body>
</html>