<!-- core/templates/registration/password_reset_email.html -->
{% load i18n %}{% autoescape off %}
{% blocktrans %}Você está recebendo este e-mail porque você (ou alguém) solicitou a redefinição de senha para sua conta no {{ site_name }}.{% endblocktrans %}

{% trans "Por favor, vá para a seguinte página e escolha uma nova senha:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}

{% trans "Se você não solicitou isso, ignore este e-mail." %}

{% endautoescape %}